.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: space-between;
  width: 800px;
  border: 1px solid black;
  padding: 20px;
}

.login-container {
  width: 45%;
}

.signup-container {
  width: 45%;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form button {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .form-container {
    flex-direction: column;
    width: 90%;
  }
  .login-container {
    width: 100%;
    margin-bottom: 20px;
  }
  .signup-container {
    width: 100%;
  }
}
