.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
  }
  
  .disciplinas-container {
  width: 50%;
  border-right: 1px solid black;
  padding-right: 10px;
}
  
  .disciplinas-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 500px;
    overflow: auto;
  }
  
  .carga-horaria-container {
    width: 50%;
    padding-right: 10px;
  }
  
  .carga-horaria-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .carga-horaria-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .carga-horaria-list li {
    font-size: 18px;
    margin-bottom: 5px;
  }
  